In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
data = boston["data"]

In [37]:
boston.keys()
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [38]:
target = boston["target"]
y = pd.DataFrame(target, columns=["price"])
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.0 KB

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [40]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [41]:
y_pred = lr.predict(X_test)
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [42]:
#Коэффициент детерминации R2 на нестандартизированных признаках
from sklearn.metrics import r2_score
r2_score(check_test["y_pred"], check_test["y_test"])

0.6693702691495595

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [23]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=feature_names)

X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=feature_names)

In [31]:
X_test_scaled.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.418143,-0.452572,-1.062996,-0.250873,-0.341167,0.347776,0.548969,-0.591728,-0.543039,-0.664493,-1.212982,0.457123,-0.578589
1,-0.421975,1.153756,-0.709436,3.986087,-0.896224,0.871874,-1.202404,0.104383,-0.655955,-0.907136,-0.678412,0.471072,-1.346193
2,-0.416629,-0.452572,2.486086,-0.250873,0.531066,-0.315776,1.051805,-0.970205,-0.655955,1.733048,0.658014,0.403417,0.679388
3,-0.418158,-0.452572,-0.050257,-0.250873,-1.195779,-0.190115,-2.060987,0.692719,-0.655955,-0.612498,0.176901,0.411388,-1.068964
4,0.123843,-0.452572,1.041884,-0.250873,1.447351,0.165414,0.812360,-0.726982,1.602373,1.473074,0.711471,0.353398,0.567940
5,-0.417086,-0.452572,0.252367,-0.250873,-0.984328,0.137830,0.220587,0.092029,-0.543039,-0.075218,-0.090385,0.239509,-0.170408
6,-0.393584,-0.452572,-0.186587,-0.250873,-0.041612,-0.421515,0.518184,0.065961,-0.655955,-0.618275,-0.250756,0.409296,0.715609
7,-0.396552,-0.452572,1.609677,-0.250873,0.663223,-0.023077,0.873931,-1.094807,-0.655955,0.150093,1.246041,0.383190,1.527792
8,0.009798,-0.452572,1.041884,-0.250873,-0.147337,0.061207,0.774732,-0.371412,1.602373,1.473074,0.711471,0.455429,-0.045029
9,-0.403765,-0.452572,-0.218048,-0.250873,0.319616,-0.248348,0.398461,-0.663756,-0.430122,-0.115658,0.176901,0.471072,0.158365

In [27]:
lr.fit(X_train_scaled, y_train)
y_pred = lr.predict(X_test_scaled)

In [28]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  30.778348
274    32.4  38.665815
491    13.6  16.967053
72     22.8  26.790358
452    16.1  20.360680
76     20.0  24.893864
316    17.8  18.989490
140    14.0  15.445544
471    19.6  24.502057
500    16.8  22.124555

In [30]:
#Коэффициент детерминации R2 на стандартизированных признаках
r2_score(check_test["y_pred"], check_test["y_test"])

0.6455498891708309

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
model = RandomForestRegressor(n_estimators=1000, max_depth = 12, random_state = 42)

In [45]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [46]:
y_pred = model.predict(X_test)
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [47]:
r2_score(check_test["y_pred"], check_test["y_test"])

0.8479049999699443

Вторая модель на основе случайного леса показала больший коэф. детерминации, т.е. коэффициенты регрессии подобраны в ней лучше и предсказанная цена дома более точна.

In [51]:
importances = model.feature_importances_
importances

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [52]:
sum(importances)

1.0

In [57]:
sorted(zip(map(lambda x: round(x, 4), importances), feature_names), reverse=True)

[(0.4158, 'LSTAT'),
 (0.4027, 'RM'),
 (0.064, 'DIS'),
 (0.0317, 'CRIM'),
 (0.0181, 'PTRATIO'),
 (0.0143, 'NOX'),
 (0.0143, 'AGE'),
 (0.0125, 'B'),
 (0.0115, 'TAX'),
 (0.0071, 'INDUS'),
 (0.0053, 'RAD'),
 (0.0015, 'ZN'),
 (0.0012, 'CHAS')]

In [59]:
sorted(zip(map(lambda x: round(x, 4), importances), feature_names), reverse=True)[:2]

[(0.4158, 'LSTAT'), (0.4027, 'RM')]

Наибольшую важность представляют LSTAT (% lower status of the population) и RM (average number of rooms per dwelling), остальные признаки в модели имеют намного более меньшую важность.